@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

$text-color: #b1bdb4;

$black-primary: #16181b;
$black-secondary: #121417;
$border-color: #4c4c4c;

$breakpoint-medium: 1224px;
$breakpoint-small: 520px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: aliceblue;
  font-family: Roboto, sans-serif;
}
:root {
  font-size: 16px;
  font: Roboto, Arial;
  word-break: break-all;
}

body {
  background-color: rgb(46, 44, 44);
}
